# Practical 3 - Probability

Probability is a measure of the likelihood of an event to occur. Many events cannot be predicted with total certainity. We can predict only the chance of an event to occur i.e. how likely they are to happen, using it. Probability can range in from 0 to 1, where 0 means the event to be an impossible one and 1 indicates a certain event. The probability of all the events in a sample space adds up to 1.

Formula for Probability-
The probability formula is defined as the possibility of an event to happen is equal to the ratio of the number of favourable outcomes and the total number of outcomes.
Probability of event to happen P(E) = Number of favourable outcomes/Total number of outcomes

In [4]:
#probability of getting 3 when a die is rolled
ns = 6 #ns={1,2,3,4,5,6}
na = 1 #na={3}
pa=na/ns
print("Probability of getting 3 is ",pa)

Probability of getting 3 is  0.16666666666666666

In [3]:
#probabillity of atleast getting one head when coin is tossed thrice
ns = 8 #ns={'HHH','THH','HTH','HHT','TTH','THT','HTT','TTT'}
na = 7 #na={'HHH','THH','HTH','HHT','TTH','THT','HTT'}
pa=na/ns
print('Probability of atleast getting one head is ',pa)

Probability of atleast getting one head is  0.875

In [5]:
#Glass of jar contain 5 red,3 blue and 2 green jelly beans.
#If a jelly is chosen at random from jar, what is probability that it is not a blue
ns=10
na=7
pa=na/ns
print('Probability of not getting blue jar is',pa)

Probability of not getting blue jar is 0.7

Independent and Dependent Events

If the occurance of any event is completely unaffected by the occurance of any other event, such events are known as independenrt events in probability and events which are affected by other events are known as dependent events.

In [6]:
#If the probability that the person A will be alive in 20 years 
#is 0.7 and the probability that person B will be alive in 20 years is 0.5,
# what is the probability that they both will be alive in 20 years?

#These are independent events
P=0.7*0.5
print("Probability that they will be alive after 20 years is",P)

Probability that they will be alive after 20 years is 0.35

In [7]:
def probability(number_of_events,samplespace):
  return number_of_events/samplespace

In [8]:
#A fair die is tossed twice. Find the probability of 
#getting a 4 or 5 on the first toss and a 1, 2 or 3 in the second toss

pa=probability(2,6)
pb=probability(3,6)
P=pa*pb
print("Probability of getting a 4 or 5 on the first toss and 1, 2 or 3 on second toss is", P)

Probability of getting a 4 or 5 on the first toss and 1, 2 or 3 on second toss is 0.16666666666666666

In [9]:
# A bag contains 5 white marbles, 3 black marbels and 2 green marbels
#In each draw, a marble is drawn from the bag and replaced. 
#In three drwas find the probability of obtaining white, black, and green in order.

pa=probability(5,10)
pb=probability(3,9)
pc=probability(2,8)
P=pa*pb*pc
print('The probability of obtaining white, black and green in the order is ',P)

The probability of obtaining white, black and green in the order is  0.041666666666666664

In [10]:
#probability fo drawing heart or club in a deck of 52 cards

cards=52
hearts=13
clubs=13
heart_or_club=probability(13,52)+probability(13,52)
print('Probability fo drawing heart or club in a deck of 52 cards is',heart_or_club)

Probability fo drawing heart or club in a deck of 52 cards is 0.5

In [11]:
#probability of drawing ace, king or queen cards from deck

cards=52
ace=4
king=4
queen=4
akq=probability(4,52)+probability(4,52)+probability(4,52)
print("Probability of drawing ace, king or queen cards from deck is ",akq)

Probability of drawing ace, king or queen cards from deck is  0.23076923076923078

In [12]:
#probability of getting heart or ace

heart=13
ace=4
ace_of_hearts=1
ha=probability(13,52)+probability(ace,52)-probability(ace_of_hearts,cards) # Additive rule
print(ha)

0.3076923076923077

Complementary Events 

For any event E1 there exists another event E1'which represents the remaining elements of the sample space.

E1 = S - E1'

If a dice is rolled then the sample space S is given as S = {1, 2, 3, 4, 5, 6}.
If the event E1 represents all the outcomes which is greater than 4, then E1 = {5, 6} and E1' = {1, 2, 3, 4}.

Thus E1' is the complement of the event E1.

Similarly, the complement of E1, E2, E3,......En will be represented as E1', E2', E3'.......En'.

In [13]:
#probability of not getting 5 when a fair die is rolled

ns=6 #n(s)= {1,2,3,4,5,6}
na=1 #n(a)={5}
pa=na/ns 
print('probability of not getting 5 is ', 1-pa)

probability of not getting 5 is  0.8333333333333334


# Conditional Probability

The formula for conditional probability is
P(A|B) = P(A OR B) / P(B)

The parts: P(A|B) = probability of A occuring given B occurs 
P(A OR B) = probability of both A and B occuring
P(B) = probability of B occuring

Calculate the probability a student gets an A(80% +) in math, given they miss 10 or more classes

In [20]:
import pandas as pd
import numpy as np
df=pd.read_csv('student-mat.csv') #Student-mat.csv file 
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [21]:
len(df)

395

We are only concerened with the columns, absenses (number of absenses), and G3(final grade from 0 to 20).

Let us create a couple new boolean coulmns based on these columns to make ourlives easier.

Add boolean column called grade_A noting is a student achieved 80% or higher as a final score. Original values are on a 0 to 20 scale so we multiply by 5.

In [22]:
df['grade_A']=np.where(df['G3']*5 >= 80 , 1, 0)

Make another boolean class called high_absenses with a value of 1 if a student missed 10 or more classes.

In [23]:
df['high_absences']=np.where(df['absences']>=10,1,0)

Add one more column to make building a pivot table easier

In [25]:
df['count']=1

Drop all other columns and just display new added 3 columns

In [26]:
df=df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [27]:
final=pd.pivot_table(df,values='count',index=['grade_A'],columns=['high_absences'],
                     aggfunc=np.size,fill_value=0)

In [28]:
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [29]:
#  probability of a grade of 80% or greater

Pa = (35 + 5) / (35 + 5 + 277 + 78)
print(Pa)

0.10126582278481013

In [30]:
Pb = (78 + 5) / (35 + 5 + 277 + 78)
print(Pb)

0.21012658227848102

In [31]:
PaAndb = 5 / (35 + 5 + 277 + 78)
print(PaAndb)

0.012658227848101266

In [32]:
print(PaAndb / Pb)

0.060240963855421686

The probability of getting at least an 80% final grade, given missing 10 or more classes is 6%.